# Upgrading ensurepip (a bootstrapping pip installer)
python -m ensurepip --upgrade

# Install flask
pip install Flask

# Installing bootstrap
pip install flask-bootstrap

# Install openai
pip install openai

