<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Home Page</title>
    </head>
    <body>
        <form>
            <div class="form-group">
                <label for="inputbox">Upload a .txt or .doc file or copy paste the text to box below</label>
            </div>

            <div class="form-outline w-50">
                <textarea class="form-control" id="inputbox" rows="10" placeholder="Copy paste the text here"></textarea>
            </div>
            
            <div class="form-group">
                <label for="choosefile"></label>
                <input type="file" class="form-control-file" id="choosefile">
            </div>

            <div class="form-check">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
          </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>

