<!DOCTYPE html>
<html>
<head>
    <title>COT</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div>
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            
            <nav class="navbar navbar-dark bg-dark">
                <img src="static/logo2.PNG" alt="Logo" width="50" height="50">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    </div>

    <form>
        <div class="row mb-4"></div>
        <div class="form-group">
            <h1 class="_3xWts-title">Plagiarism Checker by&nbsp;COT</h1>
            <div class="_3xzOp-subtitle">Plagiarism checker by COT detects plagiarism in your text.</div>   
        </div>

        <div class="vjanh-checkBlock">
            <div class="_1tx-t-checkTextBlock">
                <div class="row mb-4"></div>
                <div class="row mb-4"></div>
                <div class="_2UyJJ-wrapper">
                    <div class="O6L3v-checkText">
                        <div class="_30TK9-textarea"><div class="row justify-content-center">
                            <textarea class="form-control rounded-lg border-0 shadow-lg" name="textbox" rows="10" cols="10" placeholder="Upload a .txt or .doc file or copy paste the text to the box"></textarea>
                            <!-- <textarea class="_3CFUF-el" spellcheck="false" placeholder="Enter text or upload file to check for plagiarism and writing errors." aria-label="Enter text or upload file to check for plagiarism and writing errors." data-qa="textarea" data-gramm="false" wt-ignore-input="true" data-quillbot-element="cmtmcsoN1lYbWmIYxZeWj"></textarea> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4"></div>
    </form>

    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Submit" class="btn btn-primary">

        {% if message %}
        <script>
            alert('{{ message }}');
        </script>
        {% endif %}
    </form>
</body>
</html>
